
[submodule "tools/ouya"]

	path = tools/ouya

	url = https://github.com/slygamer/ouya-csharp.git

[submodule "MonoGame"]
	path = MonoGame
	url = https://github.com/mono/MonoGame.git
	branch = xamarin
[submodule "src/external lib/ChipmunkSharp"]
	path = src/external lib/ChipmunkSharp
	url = https://github.com/netonjm/ChipmunkSharp.git
[submodule "app_c_sharp_exercise_engine"]
	path = app_c_sharp_exercise_engine
	url = https://github.com/neuronation/app_c_sharp_exercise_engine
